// Font-Family
$fontFamily: Verdana, Geneva, Tahoma, sans-serif;

// Color
$first: #333; 
$second: #ebebeb;
$third: #fff;
$fourth: #585858;
$fifth: #635e5e;

// Color-Input
$firstInput: #2e90ff;
$secondInput: #ff2e2e;
$thirdInput: #27e700;